<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.TravelInfoDAO">
    <!-- =========== 테마 시작 =========== -->
    <!-- id: selectThemeList -->
    <!-- 기능: 테마 리스트를 조회하는 쿼리 -->
    <select id="selectThemeList" resultType="kr.kh.spring.model.vo.ThemeVO">
        SELECT * FROM theme 
    </select>
    <!-- =========== 지역 시작 =========== -->
    <!-- id: DivisionMap -->
    <!-- 기능: 상위지역에 따른 하위 지역 쿼리를 위한 맵 -->
    <resultMap type="kr.kh.spring.model.vo.DivisionVO" id="DivisionMap">
        <id property="division_NUM" column="division_NUM"/>
        <result property="division_name" column="division_name"/>
        <collection property="regionList" ofType="kr.kh.spring.model.vo.regionVO"
        column="{division_NUM=division_NUM, theme_NUM=theme_NUM}" select="selectDivision_Region"/>
    </resultMap>
    <!-- id: selectDivisionList -->
    <!-- 기능: 지역 리스트를 조회하는 쿼리 -->
    <!-- 상세기능 : 테마번호를 받고 테마번호가 1이면 상위지역전체 선택 1이 아니면 지역테이블, 지역테마테이블 묶어서 테마번호에
                   해당하는 지역이 있는 상위지역 번호를 조회함 -->
    <select id="selectDivisionList" parameterType="int" resultMap="DivisionMap">
        SELECT d.*, #{theme_NUM} as theme_NUM
        FROM division d
        WHERE #{theme_NUM} = 1 OR d.division_NUM IN (
            SELECT r.region_division_NUM
            FROM region r
            JOIN themeregion tr ON r.region_NUM = tr.themeregion_region_NUM
            WHERE tr.themeregion_theme_NUM = #{theme_NUM}
        )

    </select>
    <!-- id: selectDivision_Region -->
    <!-- 기능: 지역 리스트를 조회하는 쿼리 -->
    <select id="selectDivision_Region" parameterType="map" resultType="kr.kh.spring.model.vo.RegionVO">
        SELECT r.*
        FROM region r
        WHERE r.region_division_NUM = #{division_NUM} AND (
            #{theme_NUM} = 1 OR r.region_NUM IN (
                SELECT tr.themeregion_region_NUM
                FROM themeregion tr
                WHERE tr.themeregion_theme_NUM = #{theme_NUM}
            )
        )

    </select>
    <!-- ============ 지역 끝 ============ -->
    <!-- ============ 장소 시작 ============ -->
    <!-- id: selectPlaceListByRegionAndTheme -->
    <!-- 기능: 지역과 테마에따른 여행지 리스트를 조회하는 쿼리 -->
    <!-- 세부 기능 : 처음 장소선택 페이지를 들어갔을때 테마와 지역정보에 따른 장소-->
    <select id="selectPlaceByRegionAndTheme" resultType="kr.kh.spring.model.vo.PlaceVO">
        SELECT p.*
        FROM place p
        WHERE p.place_region_NUM = #{cri.region_NUM} AND (
            #{cri.theme_NUM} = 1 OR p.place_NUM IN (
                SELECT tp.themeplace_place_NUM
                FROM themeplace tp
                WHERE tp.themeplace_theme_NUM = #{cri.theme_NUM}
            )
        )
    </select>
    <!-- id: selectPlaceListByRegionAndThemeType -->
    <!-- 기능: 지역과 테마와 타입에 따른 여행지 리스트를 조회하는 쿼리 -->
    <select id="selectPlaceByRegionAndThemeAndType"  resultType ="kr.kh.spring.model.vo.PlaceVO">
        SELECT p.*
        FROM place p
        JOIN placetype pt ON p.place_NUM = pt.placetype_place_NUM
        JOIN placetypelist ptl ON pt.placetype_placetypelist_NUM = ptl.placetypelist_NUM
        WHERE p.place_region_NUM = #{cri.region_NUM}
          AND (#{cri.theme_NUM} = 1 OR p.place_NUM IN (
                SELECT tp.themeplace_place_NUM
                FROM themeplace tp
                WHERE tp.themeplace_theme_NUM = #{cri.theme_NUM} 
              )
          )
          AND #{cri.placetypelist_NUM} = 1 OR (ptl.placetypelist_NUM = #{cri.placetypelist_NUM})
        ORDER BY p.place_like DESC;

    </select>
    <select id="selectPlaceByRegionAndThemeMost" resultType="kr.kh.spring.model.vo.PlaceVO">
        SELECT p.*
        FROM place p
        WHERE p.place_like > 0 AND p.place_region_NUM = #{cri.region_NUM} AND (
            #{cri.theme_NUM} = 1 OR p.place_NUM IN (
                SELECT tp.themeplace_place_NUM
                FROM themeplace tp
                WHERE tp.themeplace_theme_NUM = #{cri.theme_NUM}
            )
        )
        ORDER BY p.place_like DESC
        
    </select>
</mapper>
<!-- 
마이바티스 컨피그에서 매퍼 얼라이어스를 설정해줘서 리저트타입을 단축시킴 -->