<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.TravelInfoDAO">
    <!-- =========== 테마 시작 =========== -->
    <!-- id: selectThemeList -->
    <!-- 기능: 테마 리스트를 조회하는 쿼리 -->
    <select id="selectThemeList" resultType="kr.kh.spring.model.vo.ThemeVO">
        SELECT * FROM theme 
    </select>
    <!-- =========== 지역 시작 =========== -->
    <resultMap type="kr.kh.spring.model.vo.DivisionVO" id="DivisionMap">
        <id property="division_NUM" column="division_NUM"/> 
        <result property="division_name" column="division_name"/> 
        <collection property="regionList" ofType="kr.kh.spring.model.vo.regionVO"
			column="division_NUM" select="selectDivision_Region"/> 
    </resultMap>
    <!-- id: selectDivisionList -->
    <!-- 기능: 지역 리스트를 조회하는 쿼리 -->
    <select id="selectDivisionList" resultMap="DivisionMap">
        SELECT * FROM division
        
    </select>
    <!-- id: selectDivision_Region -->
    <!-- 기능: 지역에 해당하는 지역 리스트를 조회하는 쿼리 -->
    <select id="selectDivision_Region" resultType="kr.kh.spring.model.vo.RegionVO">
        SELECT * FROM region WHERE region_division_NUM = #{division_NUM}
    </select>

    <!-- ============ 지역 끝 ============ -->
</mapper>
<!-- 
마이바티스 컨피그에서 매퍼 얼라이어스를 설정해줘서 리저트타입을 단축시킴 -->