<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.kh.spring.dao.UserDAO">
    <select id="selectUser" resultType="kr.kh.spring.model.vo.UserVO">
        select * from user where user_id = #{user_id}  
    </select>

    <insert id="insertUser">
        insert into user(user_id, user_email, user_nickname, user_pw, user_stateDate, user_state, user_follow, user_role, user_content, user_imgUrl)
        values(#{user_id}, #{user_email}, #{user_nickname}, #{user_pw}, now(), '이용중', 0, '사용자', '', '')
    </insert>
</mapper>
<!-- 
마이바티스 컨피그에서 매퍼 얼라이어스를 설정해줘서 리저트타입을 단축시킴 -->